/*--------------------------------------------------------------
 *## Content Navigation
 *-------------------------------------------------------------- */
.comment-navigation,
.posts-navigation,
.post-navigation,
.paging-navigation
	background-color: $bright
	wadding: 1
