/*--------------------------------------------------------------
 *## Content Navigation
 *-------------------------------------------------------------- */
.comment-navigation,
.posts-navigation,
.post-navigation,
.paging-navigation
	font-weight: 700

	.nav-links
		display: flex
		justify-content: space-between
