// Set box-sizing to border-box everywhere
// Inherit box-sizing to make it easier to change the property for components that leverage other behavior;
// see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
html
	box-sizing: border-box

*, *:before, *:after
	box-sizing: inherit