/*--------------------------------------------------------------
 *## Links
 *-------------------------------------------------------------- */

// Generic Links
a
	color: $link_color
	text-decoration: none
	&:hover
		color: lighten($link_color, 15)
	&:active
		color: lighten($link_color, 25)
