table
	border-collapse: collapse // normalize
	border-spacing: 0 // normalize
	margin: 0 0 1
	width: 100%

thread th
	border-bottom: 2px solid #bbb
	padding-bottom: .25rem

td, th
	padding: 0 // normalize
	vertical-align: top


th
	padding: 1rem
	text-align: left

tr
	border-bottom: 1px solid #eee

td
	padding: .25rem

th:first-child,
td:first-child
	padding-left: 0

th:last-child,
td:last-child
	padding-right: 0
