/*--------------------------------------------------------------
 *## Captions
 *-------------------------------------------------------------- */
.wp-caption
	max-width: 100%
	font-size: 0sx
	color: $gray
	text-align: center
	a
		color: inherit

	img[class*="wp-image-"]
		center-block()

	.wp-caption-text
		margin: .5gr auto 1.5gr auto

	&.aligncenter, &.alignnone
		margin-bottom: 2gr
		margin-top: 2gr