/*--------------------------------------------------------------
 *## Captions
 *-------------------------------------------------------------- */
.wp-caption
	max-width: 100%
	color: $gray
	text-align: center
	a
		color: inherit

	img[class*="wp-image-"]
		center-block()

	.wp-caption-text
		push: -2 auto 1 auto

	&.aligncenter, &.alignnone
		push-top: 2
		push-bottom: 2