button,
input[type="button"],
input[type="reset"],
input[type="submit"]
	border: 0
	background-color: $black
	color: $white
	wadding: -4 1

	&:hover,
	&:active
		background-color: $dark
		color: $white


$button--small
	wadding: -2 -1

	text-decoration: none
	border: 1px solid $light