button,
input[type="button"],
input[type="reset"],
input[type="submit"]
	border: 0
	background-color: $black
	color: $white
	padding: 0.5gr 1gr
	line-height: auto
	outline: 0

	&:hover,
	&:active,
	&:focus
		background-color: $dark
		color: $white


$button--small
	padding: .25gr 1gr
	line-height: auto
	text-decoration: none
	border: 1px solid $light