input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea
  color: $dark
  border: 1px solid $dark
  padding: .4gr

  &:focus
    color: $black
    border-color: $black
    outline: 0

select
  border: 1px solid $dark

textarea
  width: 100%
