/*--------------------------------------------------------------
 *## Archives
 *-------------------------------------------------------------- */
.page-header
	flex-wrap: wrap
	align-items: flex-start
	push-bottom: 2

.page-title
	width: 100%
	margin: 0
	line-height: auto
	word-break: break-word





