/*--------------------------------------------------------------
 *## Archives
 *-------------------------------------------------------------- */
.page-header
	flex-wrap: wrap
	align-items: flex-start
	margin-bottom: 2gr

.page-title
	width: 100%
	margin: 0
	font-size: 3sx
	line-height: auto
	word-break: break-word

.archive-description
	font-size: 1sx
	line-height: auto



