/*--------------------------------------------------------------
 *## Archives
 *-------------------------------------------------------------- */
.archive-header
	flex-wrap: wrap
	align-items: flex-start
	push-bottom: 2

.archive-title
	width: 100%
	margin: 0

	word-break: break-word





