/*--------------------------------------------------------------
 *## Comments
 *-------------------------------------------------------------- */

.comments-area
	margin-bottom: 2gr
	padding: 1gr 0

.comments-title,
.comment-reply-title
	font-size: 2sx
	line-height: auto

.comment-list
	padding: 0
	margin: 0
	list-style-type: none
	ol
		list-style-type: none

.comment-body
	margin-bottom: 2gr

.comment-meta
	position: relative
	margin-left: 70px


.comment
	.avatar
		position: absolute
		left: -70px
		width: 50px
		height: 50px

	.children
		margin-left: 1gr
		padding-left: 0


.comment-metadata
	padding-bottom: 1gr

.comment-author
	font-size: 1sx
	line-height: auto


.reply
	margin-bottom: 1gr
	text-align: right
	a
		@extend $button--small
		margin-bottom: -2px

.comment-content
	ol
		list-style-type: decimal
	a
		word-wrap: break-word

.bypostauthor .avatar
	box-sizing: content-box

/* Comment Form */

.comment-form
	line-height: auto
	a
		font-weight: 500
	.form-submit
		text-align: right

	.form-submit input
		padding: .25gr 1gr
		line-height: auto
		text-decoration: none

	label
		display: block

	.required
		color: #D54E21

.pingback
	.comment-body
		padding: 1gr 0
	a
		font-style: italic
		text-decoration: none
