/*--------------------------------------------------------------
 *## Comments
 *-------------------------------------------------------------- */

.comments-area
	push-bottom: 2
	wadding: 1 0

.comments-title,
.comment-reply-title
	font-size: ms(2)

.comment-list
	padding: 0
	margin: 0
	list-style-type: none
	ol
		list-style-type: none

.comment-body
	push-bottom: 2

.comment-meta
	position: relative
	margin-left: 70px


.comment
	.avatar
		position: absolute
		left: -70px
		width: 50px
		height: 50px

	.children
		push-left: 1
		padding-left: 0


.comment-metadata
	push-bottom: 1

.reply
	push-bottom: 1
	text-align: right
	a
		@extend $button--small
		margin-bottom: -2px

.comment-content
	ol
		list-style-type: decimal
	a
		word-wrap: break-word

.bypostauthor .avatar
	box-sizing: content-box

/* Comment Form */

.comment-form

	a
		font-weight: 500
	.form-submit
		text-align: right

	.form-submit input
		wadding: -3 1

		text-decoration: none

	label
		display: block

	.required
		color: #D54E21

.pingback
	.comment-body
		wadding: 1 0
	a
		font-style: italic
		text-decoration: none
