/*--------------------------------------------------------------
 *## Posts and pages
 *-------------------------------------------------------------- */

.entry-content
	clearfix()

	a
		text-decoration: none

		&:focus,
		&:hover
			opacity: .8

.category-links
	push-bottom: 1

.entry-title
	push-bottom: 1

	font-size: ms(2)

.entry-header
	push-bottom: 1

.entry-meta, .entry-footer
	push-bottom: 1

.featured-image
	push-bottom: 1
	img
		display: block

/*--------------------------------------------------------------
 * Byline, Comments, Edit link
 *--------------------------------------------------------------*/
.byline, .updated:not(.published)
	display: none

.single, .group-blog
	.byline
		display: inline