.search-header
	push-bottom: 1
	border-bottom: 1px solid $light


	.search-title
		font-weight: 400
		font-size: 1.2rem
		span
			font-weight: 700

.search-result
	push-bottom: 1
	wadding-bottom: 1
	border-bottom: 1px solid $light

	.entry-header, .entry-title
		margin: 0