
palm = "screen and (max-width: 640px)"
palm_mini = "screen and (max-width: 481px)"
palm_large = "screen and (max-width: 801px)"

lap = "screen and (min-width: 641px)"
portable = "screen and (max-width: 1024px)"
desk = "screen and (min-width: 1025px)"
huge = "screen and (min-width: 2560px)"
