//
//
//
//
// Instead of scattered z-index values everywhere use Stylus Layers mixin
// Give a layer a name, a value, and then use `layer(menu)` in the stylesheets
z_layers = {
	   menu: 5000,

	   // Make sure screen reader text is above everything on focus
	   screen-reader-on-focus: 100000,
}