/*--------------------------------------------------------------
 *## Footer
 *-------------------------------------------------------------- */
.site-footer
	wadding: 3 0
	push-top: 8

	border-top: 1px solid $bright
	text-align: center

	&, a
		color: $light_gray