/*--------------------------------------------------------------
 *## Footer
 *-------------------------------------------------------------- */
.site-footer
	position: relative
	padding: 1gr
	text-align: center