/*--------------------------------------------------------------
 *## Footer
 *-------------------------------------------------------------- */
.site-footer
	position: relative
	wadding: 1
	text-align: center