.site-menu
	.is-open > ul
		display: block
	ul
		text-align: left
		list-style: none
		margin: 0

	ul ul
		display: none

	a
		display: block
		display: flex
		justify-content: space-between

	.menu-item-has-children > a::after
		content: "▾"
		margin-left: 1em

	.is-open > a::after
		content: '▿'

.site-menu__message
	wadding: 1
	font-size: .75rem
	text-align: right
	h1
		font-size: 1rem
		font-weight: 700
		letter-spacing: .1em
	a
		display: inline-block