/*--------------------------------------------------------------
 * Typography
 *--------------------------------------------------------------*/
html
	font-family: $font
	font-size: 100% // 16px
	line-height: 1.7

body
	color: $text_color

h1, h2, h3, h4, h5, h6
	clear: both

h1
	font-size: ms(2.5)

h2
	font-size: ms(2)

h3
	font-size: ms(1.5)

h4
	font-size: ms(1)

h5
	font-size: ms(-1)

h6
	font-size: ms(-1)
	text-transform: none
	letter-spacing: .05em

// Give the textarea and basic elements the body style
button,
input,
select,
textarea
	@extends body




